/* CSS Document */
.headerloginlink{
text-align:right;
float:right;
}
 
dl,dt,dd{padding:0; margin:0; list-style:none; line-height:1.8em}
form{margin:0; padding:0;}

#lightbox_wrap{margin:0 auto; padding:20px 20px 20px 18px;}
#lightbox_frame{border: 1px solid #224466; width:520px; height:250px;}

#lightbox_inbox01{width:230px; margin:15px 15px;}
#lightbox_inbox02{
float:left;
padding:0;
margin:0;
vertical-align:middle;
text-align:left;

position:absolute;
top:45%;
left:50%;

}
#lightbox_inbox03{ 
background:url(../images/bg_h220px.gif) top no-repeat;
width:230px;
float:left;
vertical-align:middle;
text-align:left;

position:absolute;
top:45%;
left:60%;

}

.marginup2down10{margin:2px 0px 10px 0px;}
.closebtn{ text-align:right; float:right;}
.formbox{width:230px; float:left;}
.fb_btnbox{float:left; width:260px; padding-top:114px;}
.t-hide{display:none;}
